<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>my first Django app</title>

    <link rel="stylesheet" type="text/css" href="{% mychatbot % static % 'styles.css' %">
</head>
<body>
<h1>this is the most important heading</h1>
<h2>This is heading 2</h2>
<h3 style="text-align:center">This is heading 3</h3>
<b>This text is bold</b>
<strong>This text is strong!</strong>
<h4>This is heading 4</h4>
<h5 style="font-family:verdana">This is heading 5</h5>
<h6>This is the least important heading</h6>
<p>This is my first paragraph</p>
<p><i>This text is italic</i></p>
<p><em>This text is emphasised</em></p>
<small>This is some smaller text.</small>
<p>Do not forget to buy <mark>milk</mark> today.</p>
<p>My favourite colour is <del>blue</del> red. <ins>This is inserted text.</ins></p>
<p style="font-size:300%">Shields up. I recommend we transfer power to phasers
    and arm the photon torpedoes. Something strange on the detector circuit.
    The weapons must have disrupted our communicators.</p>
<hr>
<p> You saw something as tasty as meat, but inorganically materialized out of patterns used by our
    transporters. Captain, the most elementary and valuable statement in science,
    the beginning of wisdom, is 'I do not know.' All transporters off.</p>
<p>The best Lorem Ipsum Generator in all the sea! Heave this scurvy copyfiller fer yar next
    adventure and cajol <sub>yar clients</sub> into walking the <sup>plank with ev'ry</sup> layout! Configure above, then
    get yer pirate ipsum...own the high seas, arg!</p>
<p style="background-color:powderblue">This is another paragraph</p>
<pre style="border:2px solid Tomato;">
    A caterpillar,
this deep in fall –
still not a butterfly.
</pre>
<!-- Write your comments here -->
<!--This is a
multiline comment
-->
<p style="color:red;">This is a <br>paragraph with a line break.</p>
<a href="https://www.theworldsworstwebsiteever.com">This is a link to a website</a>
<img src="/rainytown.jpg" alt="Rainy weather in a British seaside town" width="104" height="142">
<p>Here is a quote from Spike Milligan:</p>
<blockquote cite="https://www.brainyquote.com/quotes/spike_milligan_128258">"It was a perfect marriage.
    She didn't want to and he couldn't."</blockquote>
<p>A quote from the internet is: <q>Everybody is a genius.</q></p>
<p>The <abbr title="World Health Organisation">WHO</abbr> was founded in 1948.</p>
<p><cite>The Scream</cite> by Edvard Munch. Painted in 1893.</p>
<bdo dir="rtl">This text will be written from right to left</bdo>
<address>
    Written by John Doe.<br>
    Visit us at:<br>
    Example.com<br>
    Box 564, Disneyland<br>
    USA
</address>
</body>
</html>